.mdl-layout {
  align-items: center;
  justify-content: center;
}

.landing {
  filter: brightness(70%);
}

.demo-layout-transparent {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('train.jpg') center / cover;
  height: auto;
}
.test {
  width: 400px;
  height: 400px;
}
.mdl-layout__drawer-button {
  color: '#FFF'
}

.mdl-layout__header--transparent.mdl-layout__header--transparent {
  background-color: rgba(0,0,0,0.4);
}

.mdl-layout__header .mdl-layout__drawer-button {
  background-color: transparent;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  background-color: transparent;
  color: '#9E9E9E';
  body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  }
}

.dialogContainer {
  width: 60%;
}

.demo-card-square.mdl-card {
  width: 100%;
  height: 100%;
  margin: 5% 0;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
}

.mdl-card__supporting-text {
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
}

.mdl-textfield {
  margin: 0 auto;
  width: 80%
}

.logo-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #FFF;
    margin: 3% 0;
    font-weight: 500;
}

.android-slogan {
    font-size: 3.5em;
}
