.train-container {
  position: relative;
  width: 100%;
  height: 50px;
  overflow-x: scroll;
}

.train-carriage-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  white-space: nowrap;
}

.train-carriage {
  position: relative;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  white-space: normal;
}
